<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475618421121-qjh88jphig737glm6t4f955qfdrs00hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475618421121-qjh88jphig737glm6t4f955qfdrs00hm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475618421121-otf852rgdof4u3oim76ck3ciam1n7cbq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP57GXIN6hD8mwxwId1fsCbfxPJ9RUu68</string>
	<key>GCM_SENDER_ID</key>
	<string>475618421121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.barberNet</string>
	<key>PROJECT_ID</key>
	<string>barbernet-861bc</string>
	<key>STORAGE_BUCKET</key>
	<string>barbernet-861bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475618421121:ios:f4c331d63d10f317e1e080</string>
</dict>
</plist>